@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;600&family=Fraunces:opsz,wght@9..144,600;9..144,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*-----------------------------------------------------------------------------------------*/
}

body .nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12vh;
  background-color: #3dbfff;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}

body .nav-bar .left-nav {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav-bar .right-nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px;
}

body .nav-bar .right-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .nav-bar .right-nav li {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

body .nav-bar .right-nav li:last-child:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Barlow', sans-serif;
}

body .menu-hamb {
  display: none;
}

body .orange-first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .orange-first img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .eggs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

body .eggs .eggs-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .eggs .eggs-left h3 {
  font-family: 'Fraunces', serif;
  padding: 0px 50px;
  font-size: 30px;
}

body .eggs .eggs-left p {
  margin-top: 15px;
  font-family: 'Barlow', sans-serif;
  padding: 0px 50px;
}

body .eggs .eggs-left span {
  margin-top: 18px;
  font-family: 'Fraunces', serif;
  padding: 0px 50px;
  width: 100%;
  font-weight: bold;
}

body .eggs .eggs-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100% !important;
}

body .eggs .eggs-right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .cups {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

body .cups .cups-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .cups .cups-right h3 {
  font-family: 'Fraunces', serif;
  padding: 0px 50px;
  font-size: 30px;
}

body .cups .cups-right p {
  margin-top: 15px;
  font-family: 'Barlow', sans-serif;
  padding: 0px 50px;
}

body .cups .cups-right span {
  margin-top: 18px;
  font-family: 'Fraunces', serif;
  padding: 0px 50px;
  width: 100%;
  font-weight: bold;
}

body .cups .cups-left {
  width: 50%;
  height: 100%;
}

body .cups .cups-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .orange-berry {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .orange-berry .berry {
  width: 50%;
  height: 100%;
  position: relative;
}

body .orange-berry .berry .graphic-design {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 10%;
  width: 100%;
}

body .orange-berry .berry .graphic-design h4 {
  text-align: center;
  font-size: 18px;
  font-family: 'Fraunces', serif;
}

body .orange-berry .berry .graphic-design p {
  text-align: center;
  font-size: 12px;
  padding: 2% 18%;
  text-align: center;
  font-size: 12px;
}

body .orange-berry .berry img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .orange-berry .orange {
  width: 50%;
  width: 50%;
  height: 100%;
  position: relative;
}

body .orange-berry .orange .photography {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 10%;
  width: 100%;
}

body .orange-berry .orange .photography h4 {
  text-align: center;
  font-size: 18px;
  font-family: 'Fraunces', serif;
}

body .orange-berry .orange .photography p {
  text-align: center;
  font-size: 12px;
  padding: 2% 22%;
  text-align: center;
  font-size: 12px;
}

body .orange-berry .orange img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 20px;
}

body .people .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Fraunces', serif;
  font-size: 16px;
  padding: 20px 0px;
}

body .people .people-all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .people .people-all .emily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 44vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .people .people-all .emily p:nth-child(2) {
  padding: 0px 10px;
}

body .people .people-all .emily p {
  text-align: center;
}

body .people .people-all .emily p strong {
  font-size: 20px;
}

body .people .people-all .emily img {
  border-radius: 50%;
  width: 80px;
}

body .people .people-all .thomas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 44vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .people .people-all .thomas p:nth-child(2) {
  padding: 0px 10px;
}

body .people .people-all .thomas p {
  text-align: center;
}

body .people .people-all .thomas p strong {
  font-size: 20px;
}

body .people .people-all .thomas img {
  border-radius: 50%;
  width: 80px;
}

body .people .people-all .jennie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 44vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .people .people-all .jennie p:nth-child(2) {
  padding: 0px 10px;
}

body .people .people-all .jennie p {
  text-align: center;
}

body .people .people-all .jennie p strong {
  font-size: 20px;
}

body .people .people-all .jennie img {
  border-radius: 50%;
  width: 80px;
}

body .all-photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

body .all-photos .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

body .all-photos .one .pet {
  width: 50%;
}

body .all-photos .one .pet img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

body .all-photos .one .glass-orange {
  width: 50%;
}

body .all-photos .one .glass-orange img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

body .all-photos .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

body .all-photos .two .cone {
  width: 50%;
  background-color: #00e1ff;
}

body .all-photos .two .cone img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

body .all-photos .two .ice-cube {
  width: 50%;
}

body .all-photos .two .ice-cube img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

body .rodape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #458c7eba;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38vh;
}

body .rodape .sunnyrise {
  font-family: 'Fraunces', serif;
  font-size: 40px;
  font-weight: bold;
  color: #19536b;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .rodape .sunnyrise img {
  width: 20%;
}

body .rodape .abouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #19536b;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

body .rodape .redes-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 21%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu-invisible {
  display: none;
}

body .menu-invisible2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  position: absolute;
  background: white;
  height: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

body .menu-invisible2 ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .menu-invisible2 ul li {
  list-style-type: none;
  cursor: pointer;
}

body .menu-invisible2 ul li:last-child:hover {
  background-color: #ffd302;
  color: black;
  font-weight: bold;
  padding: 6px;
  border-radius: 10px;
  font-family: 'Barlow', sans-serif;
}

@media screen and (min-width: 700px) {
  body .orange-first img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
}

@media screen and (max-width: 800px) {
  body .right-nav {
    width: 60% !important;
  }
}

@media screen and (max-width: 786px) {
  body .left-nav {
    width: 29% !important;
  }
}

@media screen and (max-width: 552px) {
  body .left-nav {
    width: 35% !important;
  }
}

@media screen and (min-width: 480px) {
  body .menu-invisible {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  body .eggs {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    height: unset !important;
  }
  body .eggs .eggs-left {
    width: 100% !important;
    height: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0px;
  }
  body .eggs .eggs-right {
    width: 100% !important;
  }
  body .cups {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 125vh !important;
  }
  body .cups .cups-left {
    width: 100% !important;
  }
  body .cups .cups-right {
    padding: 60px 0px;
    width: 100% !important;
    height: 97vh !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .orange-berry {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .orange-berry .berry {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .orange-berry .berry .graphic-design p {
    padding: 0px 50px !important;
  }
  body .orange-berry .orange {
    width: 100% !important;
  }
  body .orange-berry .orange .photography p {
    padding: 0px 50px !important;
  }
  body .menu-hamb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  body .menu-hamb img {
    padding: 20px;
  }
  body .right-nav {
    display: none !important;
  }
  body .all-photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .all-photos .one {
    width: 100% !important;
  }
  body .all-photos .two {
    width: 100% !important;
  }
  body .about {
    width: 51%;
  }
  body .people {
    height: unset !important;
  }
  body .people .people-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .people .people-all .emily {
    width: 80% !important;
  }
  body .people .people-all .thomas {
    width: 80% !important;
    margin-top: 14px;
  }
  body .people .people-all .jennie {
    width: 80% !important;
    margin-top: 14px;
  }
}

@media screen and (max-width: 615px) {
  body .rodape {
    height: 30vh !important;
  }
  body .rodape .abouts {
    width: 50% !important;
  }
  body .rodape .redes-sociais {
    width: 40% !important;
  }
}

@media screen and (max-width: 644px) {
  body .graphic-design p {
    padding: 0px 8px !important;
    font-size: 10px !important;
  }
  body .photography p {
    padding: 0px 8px !important;
    font-size: 10px !important;
  }
}

@media screen and (max-width: 409px) {
  body .left-nav {
    width: 50% !important;
  }
}

@media screen and (max-width: 270px) {
  body .left-nav {
    width: 65% !important;
  }
}
/*# sourceMappingURL=style.css.map */